* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

:root {
    --color-bg-primary: #151516;
    --color-bg-secondary: #2b2b2b;
    --color-text-primary: #cfcfcf;
}

body {
    background-color: var(--color-bg-primary);
    color: var(--color-text-primary);
    font-family: 'Courier New', Courier, monospace;
}

header {
    background-color: var(--color-bg-secondary);
    padding: 20px;
    text-align: center;
    font-size: 25px;
}

main {
    padding: 50px;
    display: flex;
    justify-content: center;
}

ul {
    list-style: none;
    max-width: 400px;
    width: 100%;
}

li {
    background-color: var(--color-bg-secondary);
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
}